<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Movimientos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportCsv()" aria-label="Exportar CSV">
        <ion-icon slot="icon-only" name="download-outline" />
      </ion-button>
      @if (canCreate()) {
        <ion-button
          color="primary"
          (click)="openCreate()"
          aria-label="Nuevo traslado"
        >
          <ion-icon slot="icon-only" name="add-outline" />
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true">
  <div class="page">
    <p class="page-context">{{ list.totalLabel() }}</p>

    <app-movement-filters
      [filterType]="list.filterType()"
      [filterDateFrom]="list.filterDateFrom()"
      [filterDateTo]="list.filterDateTo()"
      [hasActiveFilters]="list.hasActiveFilters()"
      (typeChanged)="list.onTypeFilter($event)"
      (dateFromChanged)="list.onDateFromFilter($event)"
      (dateToChanged)="list.onDateToFilter($event)"
      (filtersCleared)="list.clearFilters()"
    />

    <app-movement-list
      [movements]="list.movements()"
      [loading]="list.loading()"
      [hasActiveFilters]="list.hasActiveFilters()"
      [currentPage]="list.currentPage()"
      [totalPages]="list.totalPages()"
      (pageChanged)="list.goToPage($event)"
    />
  </div>
</ion-content>

@if (showModal()) {
  <app-create-movement-modal
    [products]="products()"
    [saving]="saving()"
    [formError]="formError()"
    (closeModal)="closeModal()"
    (submitForm)="submitTransfer($event)"
  />
}
